html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

#grid-container {
  display: grid;
  height: 10%;
  justify-content: end;
  align-content: center;
  grid-template-columns: auto auto auto auto;
}
=======
>>>>>>> parent of cec25ce3 (remove gitignore files)
=======
>>>>>>> parent of cec25ce3 (remove gitignore files)
=======
>>>>>>> parent of cec25ce3 (remove gitignore files)
